.flex{
    display: flex;
    justify-content: space-around;
}

.product{
    border: 1px solid;
    border-radius: 15px;
    padding: 1rem;
    width: 250px;
    margin-bottom: 1rem;
    
}

.product-title{
    font-size: 1.5rem;
    text-align: center;
}
.product-price{
    text-align: center;
}

.todotask table{
   border-collapse:collapse ;
    
    
}

.todotask td,th{
    padding: 2px, 8px;
    border: 1px solid black;
}


.themeChanger{
    background-color: black;
    color: whitesmoke;
}