.flex{
    display: flex;
    justify-content: space-around;
}

.product{
    border: 1px solid;
    border-radius: 15px;
    padding: 1rem;
    width: 250px;
    margin-bottom: 1rem;
    
}

.product-title{
    font-size: 1.5rem;
    text-align: center;
}
.product-price{
    text-align: center;
}

.todotask table{
   border-collapse:collapse ;
    
    
}

.todotask td,th{
    padding: 2px, 8px;
    border: 1px solid black;
}

.appTop{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.counterChange{
    margin-left: 10px;
}


.black{
    background-color: black;
    color: whitesmoke;
    height: 100vh;
   
}

.googleTab {
    padding: 10px;
  }
  
  .googleTab ul {
    display: flex;
    justify-content: left;
    list-style-type: none;
    font-size: 20px;
    padding: 0;
  }
  
  .googleTab ul li {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    
  }
  
  .googleTab ul li:hover {
    background-color: grey;
    color: whitesmoke;
  }
  
  .googleTab ul li.active {
    background-color: grey;
    color: whitesmoke;
  }


  .box{
    border: 3px solid black;
    padding: 20px;
  }